[Desktop Entry]
Name=DigiKam Switch
Name[fr]=DigiKam Switch
Name[de]=DigiKam Switch
Name[es]=DigiKam Switch
Name[it]=DigiKam Switch
Name[pt]=DigiKam Switch
Name[nl]=DigiKam Switch
Name[pl]=DigiKam Switch
Name[uk]=DigiKam Switch
Name[ru]=DigiKam Switch
Name[ja]=DigiKam Switch
Name[zh_CN]=DigiKam Switch
Name[ko]=DigiKam Switch
Comment=Gestionnaire de bibliothèques DigiKam
Comment[en]=DigiKam library manager
Comment[de]=DigiKam Bibliotheksverwaltung
Comment[es]=Gestor de bibliotecas DigiKam
Comment[it]=Gestore librerie DigiKam
Comment[pt]=Gestor de bibliotecas DigiKam
Comment[nl]=DigiKam bibliotheekheheer
Comment[pl]=Menedżer bibliotek DigiKam
Comment[uk]=Менеджер бібліотек DigiKam
Comment[ru]=Менеджер библиотек DigiKam
Comment[ja]=DigiKam ライブラリマネージャー
Comment[zh_CN]=DigiKam 资料库管理器
Comment[ko]=DigiKam 라이브러리 관리자
Exec=/usr/local/bin/digikam_switch_linux.sh
Icon=digikam
Type=Application
Categories=Graphics;Photography;
Terminal=false
StartupNotify=false
